
.article
{
    
width: 1000px;
margin-left: auto;
margin-right: auto;

}


table{

    padding: 5px;
    margin: 5px;
}

form{

    padding: 5px;
    margin: 5px;
}


.card{
    padding: 5px;
}


.form-group{
    padding: 3px;
}

button{
    padding: 5px;
    margin: 5px;
}

